.jenkins
  &_build
    &_line
      display : flex
      margin : 0.5em
      background-color : #535c68
      padding-left  : 0.5em
      padding-right : 0.5em
      border-radius : 0.2em

    &_box
      margin : 0.5em
      border-radius : 0.4em
      text-align : center
      font-size : 1.5vmin
      padding : 0 0.5em
      box-shadow: 0 1px 0 rgba(0,0,0,0.4) inset
    
    &_status
      color : beige


    &_number
      color : #7e9ebc
      background-color : #1e2836

    &_time
      display : flex
      align-items : center
      margin-left : auto
      font-size : 2vmin

    &_name
      font-size : 2vmin
      display : flex
      align-items : center