.svn
  &__commits
    &__table
      width 100%
      heigth 100%

    &__ellipsis
      overflow hidden
      white-space nowrap
      text-overflow ellipsis

    &__id
      width 6%
      text-align left

    &__author
      width 15%
      text-align left

    &__message
      test-align left

    &__date
    text-align right
    width 15%